Welcome to the Plate Documentation site. Navigate using the sidebar menu.

## Before you begin...
This documentation site is meant for developers building sites on the Plate platform. Throughout the documentation you will be referred to as 'site builder' or 'developer'.

The documentation also uses the terms 'user' or 'end user'. This is the user that you build the site for, maybe your client. He will be the one to use your theme, and fill his Plate website with content and create the pages layout with the [nested layout components](/docs/getting-started#the-plate-nested-layout-structure).

## Video tutorials (Dutch)
We made some video tutorials too, to make it easier to grasp Plate and maybe where to start when you're creating and editing a theme. The videos are embedded throughout this documentation site. You can also go to the Vimeo Channel [https://vimeo.com/channels/1312250](https://vimeo.com/channels/1312250) to watch them all. The videos are in Dutch.
