body{
  font-size:16px;
  line-height:1.7;
  font-family: 'Roboto', sans-serif;
}

p{
  margin-bottom:20px;
}
p.no-margin{
  margin-bottom:0;
}

.h2, h2{
  margin-top: 40px;
  margin-bottom: 20px;
}


.h4, h4{
  margin-top: 30px;
}

.h3, h3{
  margin-top: 30px;
}

/*div.highlight{
  overflow-x:scroll;
}*/

pre.highlight{
  margin-bottom:20px;
}

hr{
  margin-top:50px;
  margin-bottom:50px;
}

@media(min-width:1100px) {
  div.highlight{
    width:125%;
  }
}

.sidebar-logo{
  width:50px;
  margin-left:14px;
}

#sidebar-wrapper .bottom-part{
  position:absolute;
  bottom:14px;
  width:250px;
}

#sidebar-wrapper .bottom-part span{
  float: right;
  width: 71%;
  color: #fff;
  line-height: 1.5;
  font-size:0.9em;
}

#sidebar-wrapper .bottom-part span a{
  text-decoration: underline;
}
