
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

  <title>Plate Documentation - {{ page.title }}</title>

  <meta name="description" content="Plate Documentation">
  <meta name="author" content="Plate">

  <meta name="robots" content="index, follow">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/sidebar.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
</head>
<body>
  <div id="wrapper" class="">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="/docs">Plate Documentation</a>
        </li>
        {%- include sidebar_submenu.html page=page -%}
      </ul>
      <div class="bottom-part">
        <img src="/assets/img/logo.png" class="sidebar-logo">
        <span>Got questions or suggestions? <a href="mailto:info@startmetplate.nl">Mail us!</a></span>
      </div>
    </div>

    <div id="page-content-wrapper">
      <div class="toggle-menu-wrapper">
        <button type="button" class="btn btn-default pull-right toggle-menu">Menu</button>
        <div class="clearfix"></div>
      </div>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/functions.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91008730-41"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

   gtag('config', 'UA-91008730-41');
  </script>

  <!-- Hotjar Tracking Code for https://platehub.github.io/docs/ -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:665488,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</body>
</html>
